<!-- #####################################################  Website Container  ############################################################################ -->	
<div id="container" class="container_17">
<!-- ###################################################### Website Header  ############################################################################### -->	
<!-- 	<div id="header" class="gid_17">
		<h1>Learning the 960 grid!</h1>
	</div> -->
<!-- ####################################################### Avatar and Name Box ########################################################################## -->	
	<div id="vcard" class="grid_4">
		<div id="avatar" class="grid_8">
			<h3>AVATAR</h3>
			<p>Telecom Engineer</p>
			<p>&amp;</p>
			<p>Software Developer</p>
		</div>
		<div id="nameProfession" class="grid_8">
			<h3>Ahad Shafiq</h3>
			<p>Telecom Engineer</p>
			<p>&amp;</p>
			<p>Software Developer</p>
		</div>
<!-- ####################################################### Social Media Icons ########################################################################### -->	
		<div id="icon1" class="grid_5">
			<p>Github</p>
		</div>
		<div id="icon" class="grid_5">
			<p>Linkedin</p>
		</div>
		<div id="icon" class="grid_5">
			<p>Twitter</p>
		</div>
<!-- ########################################################  Work Exp Maps  ############################################################################ -->	
		<h2>International Exp</h2>
		<div id="icon2" class="grid_4">
			<p>Map K.S.A</p>
		</div>
		<div id="icon" class="grid_4">
			<p>Map Canada</p>
		</div>
		<div id="icon" class="grid_4">
			<p>Map Pak</p>
		</div>
		<div id="icon" class="grid_4">
			<p>Map U.A.E</p>
		</div>
		<div id="icon3" class="grid_4">
			<p>Nokia Siemens Networks</p>
		</div>
		<div id="icon" class="grid_4">
			<p>Radio Science Lab</p>
		</div>
		<div id="icon" class="grid_4">
			<p>Sanoif-Aventis Pak</p>
		</div>
		<div id="icon" class="grid_4">
			<p>Start Consult Dubai</p>
		</div>
<!-- ########################################################  Quotes Rotator  ######################################################################### -->
		<h2>Quotes</h2>
		<div id="icon4" class="grid_4">
			<p>Picture</p>
		</div>
		<div id="icon" class="grid_12">
			<p>"Blah blah blah blah"</p>
		</div>
<!-- ########################################################  Linux Emulator  ######################################################################### -->
		<h2>More..</h2>
		<div id="icon" class="grid_17">
			<h3>Shell Terminal</h1>
			<p>Shell Preset Commands</p>
		</div>
	</div>
<!-- ########################################################  New Major Div  ########################################################################## -->	
	<div id="showcase" class="grid_13">
		<h2>Showcase of relevant work experience</h2>
		<div id="icon" class="grid_17">
			<p>"Blah blah blah blah"</p>
			<p>"Blah blah blah blah"</p>
			<p>"Blah blah blah blah"</p>
			<p>"Blah blah blah blah"</p>
		</div>
	</div>
<!-- ########################################################  New Major Div  ########################################################################## -->	
	<div id="showcase2" class="grid_13">
		<h2>Meeting Your Requirements</h2>
		<div id="icon" class="grid_17">
			<p>"Blah blah blah blah"</p>
			<p>"Blah blah blah blah"</p>
			<p>"Blah blah blah blah"</p>
		</div>
	</div>
<!-- ########################################################  New Major Div  ########################################################################## -->	
	<div id="showcase3" class="grid_13">
		<h2>Skills</h2>
		<div id="icon" class="grid_17">
			<p>"Blah blah blah blah"</p>
			<p>"Blah blah blah blah"</p>
			<p>"Blah blah blah blah"</p>
		</div>
	</div>	
<!-- ########################################################  Website Footer  ######################################################################### -->
	<div id="footer" class="grid_17">
		<p>&copy; Ahad Shafiq 2013. All rights reserved.</p>
	</div>
</div>